
# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
env/
venv/
*.venv
.env

# Docker / Docker Compose
*.tar
docker-compose.override.yml
*.env.docker
.docker/

# Minikube / Kubernetes
.kube/
kubeconfig
*.yaml.bak
*.kube

# Ignore all .deb files in dev and prod folders
dev/*.deb
prod/*.deb
dev/kubectl

# Logs / caches
logs/
*.log
*.tmp
tmp/
.cache/

# IDEs
.vscode/


