# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
env/
venv/
*.venv
.env

# Docker / Docker Compose
*.tar
docker-compose.override.yml
*.env.docker
.docker/

# Minikube / Kubernetes
.kube/
kubeconfig
*.yaml.bak
*.kube
dev/minikube_latest_amd64.deb

# Logs / caches
logs/
*.log
*.tmp
tmp/
.cache/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db
*.bak
