apiVersion: v1
kind: Namespace
metadata:
  name: web-app
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: backend-sa
  namespace: web-app
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::ACCOUNT_ID:role/fastapi-deployment-backend-irsa-role
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-backend
  namespace: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      serviceAccountName: backend-sa
      
      # Node Selector (matches EKS node group labels)
      nodeSelector:
        NodeGroup: backend
      
      containers:
      - name: fastapi
        image: ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/fastapi-repo:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: password
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: host
        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: port
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: db_name
        livenessProbe:
          httpGet:
            path: /api/health
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-backend
  namespace: web-app
spec:
  type: ClusterIP
  selector:
    app: fastapi
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
